.gradle
.idea
.run
.DS_Store
build
gradle
allatori-annotations-7.5.jar
build.gradle.kts
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle.kts
libraries/ge_api
libraries/dax_api
libraries/bApi/build
libraries/bApi/build.gradle.kts
libraries/build
scripts/3-tick-miner
scripts/build
scripts/build.gradle.kts
scripts/progressive-miner/build
scripts/progressive-miner/build.gradle.kts